*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdzeFb5N.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdXeFb5N.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdLeFb5N.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhd7eFb5N.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhd_eFb5N.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIxsdO_q.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIVsdO_q.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIJsdO_q.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI5sdO_q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIxsdO_q.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIVsdO_q.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIJsdO_q.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdO_q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIxsdO_q.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIVsdO_q.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIJsdO_q.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdO_q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdO_q.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v19/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; 
  }
    @font-face {
    font-family: ProximaNova;
    src: local("ProximaNova-Regular"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Regular.woff2) format("woff2"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Regular.woff) format("woff"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ProximaNova;
    src: local("ProximaNova-Semibold"),url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/mtact/static/fonts/ProximaNova-Semibold.woff2) format("woff2"),url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/mtact/static/fonts/ProximaNova-Semibold.woff) format("woff"),url(//lf16-tiktok-common.ttwstatic.com/obj/tiktok-web-common-sg/mtact/static/fonts/ProximaNova-Semibold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: ProximaNova;
    src: local("ProximaNova-Bold"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.woff) format("woff"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/Proxima-Nova-Bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SofiaPro;
    src: local("SofiaPro-Regular"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-regular.woff) format("woff"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SofiaPro;
    src: local("SofiaPro-Medium"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-medium.woff) format("woff"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-medium.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SofiaPro;
    src: local("SofiaPro-Semibold"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-semibold.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: SofiaPro;
    src: local("SofiaPro-Bold"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.woff) format("woff"),url(//lf16-tiktok-web.ttwstatic.com/obj/tiktok-web-common-sg/falcon/tiktok_fonts/sofiapro-bold.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root{
    --width: 1150px;
    --color-text: #161823;
    /* FONT FAMILY */
    --font-IBM: "IBM Plex Sans";
}

body {
    background: #ffffff;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
}

body a {
    color: rgb(22, 24, 35);
    transition: color 250ms ease 0s;
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: var(--width);
    margin: 0 auto;
}

header{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px ;
    padding: 8px 0;
}

.header-fixed{
    display: flex;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    height: 60px;
    width: 100%;
    top: 0px;
    left: 0;
    position: fixed;
    -webkit-box-align: center;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 1000;
    app-region: drag;
    overflow: hidden;
}

.header-menu {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 24px;
    padding-left: 20px;
}

.header-left .logo {
    max-width: 118px;
    max-height: 42px;
}

.header-main{
    width: 560px;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 21px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    height: 46px;
}

.header-main input {
   
    width: 100%;
    padding: 12px 53px 12px 16px;
   
    background: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;

}

.header-main input ::placeholder{
    color: var(--color-text);
    font-family: "ProximaNova, PingFangSC, sans-serif";
    font-weight: 500;
    font-size: 20px;
}

.header-main input:focus{

}
.header-main .iconl {
    padding: 11px 16px 11px 12px;
    font-size: 14px;
    line-height: 21px;
    width: 52px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header-main button {
    padding: 11px 32px 11px 12px;
    margin: -12px -16px -12px 0px;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    color: #C6C6C9;
 
    font-size: 18px;
}
.header-main span{
    width: 1px;
    height: 28px;
    margin: -3px 0px;
    background: rgba(22, 24, 35, 0.12);
}
.header-right{
    display: flex;
}
.header-right ul{
    display: flex;
    align-items: center;
}

.header-right ul li a{
    display: block;
    margin-left: 16px;
    font-size: 18px;
    font-weight: 700;
}

.header-right a.avatar {
   
    position: relative;
    width: 32px;
    height: 32px;
    background: center center / cover no-repeat;
    background-image: url("https://p16-sign-useast2a.tiktokcdn.com/tos-useast2a-avt-0068-giso/40fd3238f7bc547c537482433dff10a8~c5_720x720.jpeg?x-expires=1686798000&x-signature=rIaoA6GsgYTMxZeesfKCp4vrU1U%3D");
    border-radius: 50%;
    cursor: pointer;
}

.header-right a.plus{
    
    padding: 4px 12px;
  
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* margin-right: 16px; */
    margin-left: unset;
}

.header-right a.plus:visited{
    color: rgb(22, 24, 35)
}

.header-right a.plus span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

.header-right span.message {
    position: relative;
    display: flex;
    align-content: center;
    width: 26px;
    height: 26px;
}

.header-right span.message .count-message{
    color: rgb(255, 255, 255);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    left: 16px;
    position: absolute;
    top: -7px;
    min-width: 20px;
    border-radius: 10px;
    height: 20px;
    background: rgb(254, 44, 85);
    text-align: center;
    padding: 0px;
}

.header-right span.inbox {
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-right a.plus span {
    height: 20px;
    width: 20px;
    margin-right: 8px;
}

/* MAIN */

main {
    margin-top: 76px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.ladi-section{

}

.ladi-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ladi-box .ladi-title h1 {
    font-size: 24px;
    color: var(--color-text);
}

.ladi-box .ladi-history {
    font-weight: 700;
    font-size: 16px;
}

.ladi-information{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ladi-information .ladi-bg {
    display: flex;
    align-items: center;
    background: #F9F9F9;
    max-width: 100%;
    min-width: 255px;
    width: max-content;
    height: 76px;
    padding: 16px 20px;
    display: flex;
    opacity: 0.8;
    -webkit-box-pack: start;
    place-content: center flex-start;
    background: rgba(22, 24, 35, 0.03);
    border-radius: 4px;
}

.ladi-information .ladi-avatar{
    width:44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.ladi-information .ladi-content{
    margin-left: 12px;
}

.ladi-information .ladi-content .ladi-coin, .ladi-information .ladi-content .ladi-coin span{
    display: flex;
    align-items: center;
    width: 20px;
    margin-right: 4px;
}

.ladi-your-coin {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.ladi-information .ladi-content .ladi-coin span{
    margin-left: 4px;
    color: var(--color-text);
    opacity: 50%;
}

.ladi-information .ladi-content__name {
    font-weight: 700;
    color: rgb(22, 24, 35);
    font-size: 18px;
}

.ladi-buy .ladi-title{
    position: relative;
    /* font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif; */
    font-weight: 700;
    font-size: 18px;
    margin-top: 32px;
    line-height: 1.2;
    color: rgb(22, 24, 35);
}

.ladi-buy .ladi-title .title-color{
    position: relative;
    color: #fe2c55;
    font-size: 18px;
}

.ladi-buy .ladi-title .title-color::after{
    content: "i";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #BCBCBF;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -21px;
    top: 50%;
    transform: translateY(-50%);
    color: #BCBCBF;
}

.ladi-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 12px 0;
    gap: 32px 96px;
}

.ladi-item, .ladi-item__custom {
    border: 1px solid rgba(22, 24, 35, 0.12);
    width: 100%;
    min-height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    padding: 18px 2px 16px 2px;
    cursor: pointer;
}

.ladi-item:focus,.ladi-item__custom:focus{
    border: 3px solid rgb(250, 206, 21);
}
.ladi-item.active,.ladi-item__custom.active{
    border: 3px solid rgb(250, 206, 21);
}

.ladi-item .ladi-coin, .ladi-item__custom .ladi-coin {
    display: flex;
    align-items: center; 
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.ladi-item svg, .ladi-item__custom svg {
    width: 34px;
    height: 34px;
}

.ladi-item .ladi-coin span, 
.ladi-item__custom .ladi-coin span{
    margin-left: 10px;
}

.ladi-item .ladi-price,
.ladi-item__custom .ladi-price{
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
    text-align: center;
    line-height: 1.1;
}

.ladi-item input,
.ladi-item__custom input {
    width: 134px;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(22, 24, 35);
    outline: none;
    text-align: center;
    color: rgb(22, 24, 35);
    font-weight: 100;
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 24px;
    line-height: 32px;
}
.ladi-item input[type="number"],
.ladi-item__custom input[type="number"]
{
    /* -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield; */
}

.ladi-item input[type=number]::-webkit-inner-spin-button,
.ladi-item__custom input[type=number]::-webkit-inner-spin-button,
.ladi-item__custom input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
appearance: none;
}

.ladi-payment{
    display: flex;
    align-items: center;
}

.ladi-payment ul {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.ladi-payment ul li {
    margin-right: 4px;
    width: 20px;
    height: 22px;
    line-height: 26px;
}

.ladi-total{
    margin-top: 12px;
}

.ladi-total .total .total-price{
    font-size: 16px;
    font-weight: 700;
    margin-left: 14px;
}

.btn-submit{
    padding: 16px 78px;
    background: #fe2c55;
    border-radius: 4px;
    color: #fff;
    font-weight: 700;
    outline: none;
    border: none;
    margin-top: 24px;
    cursor: pointer;
}
.tiktok-1ie96h1-Circle {
    stroke-width: 0;
    r: 99px;
    cy: 99px;
    fill: #3af2ff;
    cx: 60px;
    -webkit-animation: animation-1u0u36m 1s cubic-bezier(.05, 0, 1, 1) infinite;
    animation: animation-1u0u36m 1s cubic-bezier(.05, 0, 1, 1) infinite;
}

@-webkit-keyframes animation-1u0u36m {
    25% {
        cx: 100px;
        r: 43.199999999999996px;
    }

    50% {
        cx: 140px;
        r: 36px;
    }

    75% {
        cx: 100px;
        r: 21.599999999999998px;
    }

    100% {
        cx: 60px;
        r: 36px;
    }
}

@keyframes animation-1u0u36m {
    25% {
        cx: 100px;
        r: 43.199999999999996px;
    }

    50% {
        cx: 140px;
        r: 36px;
    }

    75% {
        cx: 100px;
        r: 21.599999999999998px;
    }

    100% {
        cx: 60px;
        r: 36px;
    }
}
.tiktok-1ibclz-Circle {
    stroke-width: 0;
    r: 36px;
    cy: 99px;
    fill: #0f0f0f;
    cx: 60px;
    -webkit-animation: animation-1u0u36m 1s cubic-bezier(.05, 0, 1, 1) infinite;
    animation: animation-1u0u36m 1s cubic-bezier(.05, 0, 1, 1) infinite;
}

.tiktok-1ie96h1-Circle {
    stroke-width: 0;
    r: 36px;
    cy: 99px;
    fill: #3af2ff;
    cx: 60px;
    -webkit-animation: animation-1u0u36m 1s cubic-bezier(.05, 0, 1, 1) infinite;
    animation: animation-1u0u36m 1s cubic-bezier(.05, 0, 1, 1) infinite;
}

.tiktok-162i5jd-Circle {
    stroke-width: 0;
    r: 36px;
    cy: 99px;
    fill: #fe2c55;
    cx: 128px;
    -webkit-animation: animation-1gjz153 1s cubic-bezier(.05, 0, 1, 1) infinite;
    animation: animation-1gjz153 1s cubic-bezier(.05, 0, 1, 1) infinite;
}


@keyframes animation-1gjz153 {
    25% {
        cx: 100px;
        r: 24px;
    }

    50% {
        cx: 60px;
        r: 36px;
    }

    75% {
        cx: 100px;
        r: 43.199999999999996px;
    }

    100% {
        cx: 140px;
        r: 36px;
    }
}

.process-title,.summary-title{
    font-size: 24px;
    line-height: 32px;
    color: rgb(22, 24, 35);
    font-weight: 700;
    font-family: "IBM Plex Sans", ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px -24px;
    padding: 0px 24px 24px;
    /* border-bottom: 0.5px solid rgba(22, 24, 35, 0.2); */
    /* margin-bottom: 24px; */
}



.process,.summary,.paypal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    display: none;
}

.paypal{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.process.active,.summary.active{
    display: block;
}

.box-process{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* max-width: 880px; */
    max-width: 742px;
    padding: 24px 24px;
    border-radius: 4px;
    overflow: auto;
    margin-bottom: 24px;
}

.box-paypal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* max-width: 880px; */
    max-width: 742px;
    padding: 24px 24px;
    border-radius: 4px;
    overflow: auto;
    margin-bottom: 24px;
    min-height: 429px;
}

.process-sub{
    margin-bottom: 24px;
}

.paypal-check{
    width: 52px;
    height:52px;
    background:#f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 24px;
}

.paypal-check span{
    font-size: 20px;
    color: #2cc13f;
}

.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


.box-summary{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(255, 255, 255);
    width: 100%;
    /* max-width: 880px; */
    max-width: 742px;
    padding: 24px 18px;
    border-radius: 4px;
    overflow: auto;
    margin-bottom: 24px;
}

.summary .summary-close{
    position: absolute;
    font-size: 24px;
    top: 0;
    left: 0;
    padding: 16px 24px;
    cursor: pointer;
}

.box-summary hr {
    width: 100%;
    border: 0.5px solid rgba(22, 24, 35, 0.2);
    opacity: .1;
    margin-bottom: 24px;
}

.summary-detail{
    width: 100%;
}

.summary-detail .summary-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color:#161823;
    margin-bottom: 24px;
}


.summary-method{
    margin-bottom: 24px;
    font-family: "IBM Plex Sans";
}

.summary-method__label{
    color:rgba(22, 24, 35, 0.5);
    font-weight: 700;
}

.summary-method .method{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary-method .summary-detail-val input[type="radio"] {
        accent-color:#fe2c55; 
        width:20px;
        height:20px;
}

.summary-method .summary-detail-title{
    font-family: "IBM Plex Sans";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 700;
}

.summary-method .summary-detail-title span.hidden{
    color:#161823;
    font-weight: 100;
    margin-left: 12px;
}

.summary .method{
    margin-top:8px;
    margin-bottom: 48px;
}

.summary-price{
    margin-bottom: 8px !important;
}

.summary-price .submmary-box__label{
    color: rgba(22, 24, 35, 0.5);
    font-weight: 500;
    font-family: IBM Plex Sans;
}

.summary-total {
    color:#161823;
    font-weight: 700;
}

.summary-submit{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 4px 8px;

}

.summary-submit .desc{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #333;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    font-family: IBM Plex Sans;
    margin: 8px 16px 8px 8px;
}



.summary-btn{
    margin-top:unset;
    flex:1;
    font-weight: 700;
    /* font-size: 24px; */
}

.summary-coin{
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
}

.paypal.active{
    display: block;
}

.paypal{
    display: none;
}

.paypal-title{
    font-size: 20px;
    font-weight: 700;
    font-family: 'ProximaNova';
    margin-bottom: 24px;
}

.paypal-detail {
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
}

.paypal-close{
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    font-size: 20px;
    cursor: pointer;
}

.search-user input{
    padding: 8px;
    width: 230px;
    border-radius: 4px;
    color:#161823;
    font-weight: 700;
    border: 2px solid #0f0f0f;
}

.search-user input[type=text]:focus{
    border: 2px solid red;
}
.search-user input[type=text]::placeholder{
    color: rgba(149, 157, 165)
}
